<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean class = "in.test.bean.Adress" id ="stdAddress">
		<property name="city" value = "Delhi"></property>
		<property name="pincode" value = "56454"></property>
		<property name="houseNo" value = "02"></property>
	</bean>
	<bean class = "in.test.bean.Student" id = "stdId">
		<property name="name" value="ANkit"></property>
		<property name="rollNo" value="55"></property>
		<property name="adress" ref="stdAddress"></property> 		
	</bean>
</beans>	