<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean class="in.company.beans.Address" id="addId1">
		<property name="city" value="Delhi"></property>
		<property name="pinCode" value="58585"></property>
	</bean>
	<bean class="in.company.beans.Address" id="addId1" autowire-candidate="false">
		<property name="city" value="punjab"></property>
		<property name="pinCode" value="585"></property>
	</bean>
	
	<bean class="in.company.beans.Student" id="stdId" autowire="byName">
		<property name="name" value="ANkit"></property>
		<property name="rollNo" value="55"></property>
		<property name="address" ref="addId1"></property>
		
	</bean>
</beans>		